textarea{
    margin-top: 100px;
    text-align: center;
    width: 700px;
    height: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    outline: 10px;
    outline-offset: 10px;
    margin-left: 50px;
    border-radius: 10px;

}
button{
    margin-left: 300px;
    width: 200px;
    height: 25px;
    border-radius: 20px;
    outline-width: 60px;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button:hover{
    background-color: black;
    color: #ffffff;
    
}

h1{
    text-align: center;
}

#texts {
    border-radius: 10px;
    margin-left: 100px;
    float: left;
    width: 200px;
    height: 500px;
    background-color: rgb(4, 58, 40);
    color: #ffffff;
    overflow: scroll;
    margin-right: 20px; 
}
#display {
    border-radius: 10px;
    width: 800px;
    height: 500px;
    background-color: rgb(8, 44, 32);
}
#texts, #display {
    display: inline-block;
    vertical-align: top; 
}

